<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alertifyapp">

    <application
        android:theme="@style/Theme.Alertifyapp"
        android:label="Alertify App"
        android:icon="@mipmap/ic_launcher">

        <!-- Main entry activity -->
        <activity
            android:name=".IntroActivity"
            android:label="Intro Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".Loginscreen" android:exported="true" />
        <activity android:name=".JoinToday" android:exported="true" />
        <activity android:name=".AccessLocation" android:exported="true"/>
        <activity android:name=".MainActivity" android:exported="true" />


    </application>
</manifest>
